:root {
    --main-color: #FFFFFF;
    --thrid-title-color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {cursor: pointer;
margin: 0;}
address {font-style: normal;}

img {
    display: block;
}
        
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--main-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--thrid-title-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}


/* .loader, .error {
    display: none;
} */

.error {
    color: red;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.loader {
    font-size: 0;
    position: relative;
    margin: 20% auto;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.breed-select {
    display: none;
    max-width: 600px;
    margin: auto;
}