:root {
    --main-color: gainsboro;
    --thrid-title-color: #212121;
    --err-color: red;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}
        
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'sans-serif';
    background-color: var(--main-color);
    letter-spacing: 0.03em;
    font-size: 24px;
    color: var(--thrid-title-color);
    line-height: 1.5;
    position: relative;
}

.error {
    color: var(--err-color);
    font-size: 36px;
    position: absolute;
    top: 70px;
    left: 200px;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.loader {
    font-size: 28px;
    position: absolute;
    width: 85%;
    top: 60px;
    left: 470px;
}

.breed-select {
    display: none;
    max-width: 600px;
    margin: 30px auto 0px;
}

.img-box,
.breed-box {
    width: 600px;
}

.cat-info {
    display: flex;
    justify-content: space-around;
    padding-top: 65px;
}

.breed-img {
    border-radius: 12px;
}

.temperament-item {
    padding-top: 15px;
}

.div-hidden {
    display: none;
}