:root {
    --main-color: gainsboro;
    --thrid-title-color: #212121;
    --err-color: red;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}
        
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'sans-serif';
    background-color: var(--main-color);
    letter-spacing: 0.03em;
    font-size: 24px;
    color: var(--thrid-title-color);
    line-height: 1.5;
    position: relative;
}

.error {
    color: var(--err-color);
    font-size: 36px;
    position: absolute;
    top: 70px;
    left: 200px;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* .loader {
    font-size: 28px;
    position: absolute;
    width: 85%;
    top: 60px;
    left: 470px;
} */

.loader {
    width: 60px;
    height: 40px;
    position: relative;
    display: inline-block;
    --base-color: gainsboro;
    /*use your base color*/
}

.loader::before {
    content: '';
    left: 600px;
    top: 30px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #83b3e7;
    background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 3s linear infinite;
}

.loader::after {
    content: '';
    left: 635px;
    top: 45px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #83b3e7;
    background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.breed-select {
    display: none;
    max-width: 600px;
    margin: 30px auto 0px;
}

.img-box,
.breed-box {
    width: 600px;
}

.cat-info {
    display: flex;
    justify-content: space-around;
    padding-top: 65px;
}

.breed-img {
    border-radius: 12px;
}

.temperament-item {
    padding-top: 15px;
}

.div-hidden {
    display: none;
}